.home-container {
  padding: 20px;
  font-size: 36px;
  text-align: center;
  border: 1px solid red;
}

.home-card {
  display: flex;
  flex-direction: column;
  background-color: #00285f;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 1px solid orange;
}

.home-image-container {
  padding: 5px 15px;
  border: 1px solid purple;
}

.home-image-container svg {
  width: 100%;
  height: auto;
}

.home-content-container {
  padding: 10px;
  border: 1px solid blue;
}

.home-content-container h1 {
  color: #fff;
  margin-bottom: 10px;
}

.home-content-container p {
  color: #fff;
  font-size: 18px;
  padding: 0px 30px;
}

.Parte-baixo {
  margin-top: 30px;
  padding-left: 15px;
  display: flex;
  flex-direction: row;
  padding-top: 5px;
  padding-bottom: 15px;
  background: #ededed;
  border-radius: 10px;
  border: 1px solid green;
  height: 123px; 
  
}


.Parte-baixo h1 {
  margin-left: 40px;
  margin-top: 18px;
  color: #585858;
  font-size: 18px;
  font-weight:normal;
  align-items: center;
  margin-top: 40px;
  
}

.container-button{
  margin-top: 25px;
  margin-left: 20px;
  padding-left: 15px;
}