.home-container {
  padding: 20px;
  font-size: 20px;
  text-align: center;
  border: 1px solid red;
}

.home-card {
  display: flex;
  flex-direction: column;
  background-color: #00285f;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 1px solid orange;
}

.home-image-container {
  padding: 5px 15px;
  border: 1px solid purple;
}

.home-image-container svg {
  width: 70%;
  height: auto;
}

.home-content-container {
  display: flex;
  flex-direction: column;
  padding: 0px 15px 15px 15px;
  align-items: center;
  border: 1px solid blue;
}

.home-content-container h1 {
  width: 260px;
  font-size: 1em;
  margin-bottom: 15px;
  color: #ffffff;
}

.home-content-container p {
  color: #ffffff;
  width: 260px;
  font-size: 0.6em;
  margin-bottom: 30px;
}

.Parte-baixo {
  margin-top: 30px;
  padding-left: 15px;
  display: flex;
  flex-direction: row;
  padding-top: 5px;
  padding-bottom: 15px;
  background: #ededed;
  border-radius: 10px;
  border: 1px solid green;
  height: 123px;
}

.Parte-baixo h1 {
  margin-left: 20px;
  margin-top: 18px;
  color: #585858;
  font-size: 14px;
  font-weight: normal;
  align-items: center;
  margin-top: 40px;
}

.container-button {
  margin-top: 25px;
  margin-left: 40px;
  padding-left: 15px;
}

@media (min-width: 576px) {
  .home-content-container {
    display: flex;
    flex-direction: column;
    padding: 0px 15px 15px 15px;
    align-items: center;
  }

  .home-image-container svg {
    width: 350px;
  }

  .home-content-container h1 {
    width: 420px;
    font-size: 36px;
    margin-bottom: 15px;
    color: #ffffff;
  }

  .home-content-container p {
    color: #ffffff;
    width: 420px;
    font-size: 18px;
    margin-bottom: 30px;
  }

  .home-container {
    font-size: 38px;
  }

  .container-button {
    margin-top: 25px;
    margin-left: 65px;
    padding-left: 15px;
  }

  .Parte-baixo h1 {
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  .home-image-container svg {
    margin-top: 79px;
  }

  .home-content-container {
    margin-bottom: 10px;
  }

  @media (min-width: 992px) {
    .home-image-container svg {
      width: 455px;
    }

    .home-image-container svg {
      margin-top: 85px;
    }

    .home-content-container {
      margin-bottom: 30px;
    }
  }

  @media (min-width: 1280px) {
    .home-container {
      padding: 30px 150px 20px 150px;
    }

    .home-card {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      text-align: left;
      align-content: space-between;
      justify-content: space-evenly;
      height: 365px;
      padding: calc(((85vh - 480px) / 2) - 20px) 0;
    }

    .home-image-container svg {
      width: 333px;
    }

    .home-image-container {
      margin-right: 70px;
    }

    .home-content-container {
      margin-top: 100px;
      text-align: left;
      margin-left: 10%;
    }

   
  }
}
